.button {
  padding: 0.5em 0.75em;
  background-color: hsl(
    var(--accent-color-hue),
    var(--accent-color-saturation),
    92%
  );
  font-size: 18px;
  border: none;
  transition: background-color 0.15s ease;
}

.button:hover {
  background-color: hsl(
    var(--accent-color-hue),
    var(--accent-color-saturation),
    87%
  );
}

.button:disabled {
  background-color: var(--disabled-color);
}
